<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="alternate" hreflang="es" href="https://www.inandoutbelleza.es/es"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#56ab29" />

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://www.inandoutbelleza.es/assets/images/favicon.png" rel="shortcut icon"type="image/x-icon">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#56ab29">
    <meta name="apple-mobile-web-app-title" content="In&Out Belleza">
    <link href="https://www.inandoutbelleza.es/assets/images/apple-touch-icon.png" rel="apple-touch-icon-precomposed">
    <link href="https://www.inandoutbelleza.es/assets/images/apple-touch-icon-114x114.png" sizes="114x114" rel="apple-touch-icon-precomposed">
    <link href="https://www.inandoutbelleza.es/assets/images/apple-touch-icon-72x72.png" sizes="72x72" rel="apple-touch-icon-precomposed">
    <link href="https://www.inandoutbelleza.es/assets/images/apple-touch-icon-144x144.png" sizes="144x144" rel="apple-touch-icon-precomposed">
    <meta id="meta-description" name="description" content="{{htmlWebpackPlugin.options.description}}">
    <meta name="robots" content="noodp">
    <meta property="fb:app_id" content="1950796945206063">
    <meta property="og:image" content="{{htmlWebpackPlugin.options.image}}">
    <meta property="og:locale" content="es_ES">
    <meta property="og:type" content="website">
    <meta id="og-meta-title" property="og:title" content="{{htmlWebpackPlugin.options.title}}">
    <meta id="og-meta-description" property="og:description" content="{{htmlWebpackPlugin.options.description}}">
    <meta property="og:site_name" content="In&amp;Out Centro de Belleza en Málaga">
    <meta name="twitter:card" content="summary">
    <meta id="twitter-meta-description" name="twitter:description" content="{{htmlWebpackPlugin.options.description}}">
    <meta id="twitter-meta-title" name="twitter:title" content="{{htmlWebpackPlugin.options.title}}">
    <meta name="twitter:site" content="@bellezainandout">
    <meta name="twitter:image" content="{{htmlWebpackPlugin.options.image}}">
    <meta name="twitter:creator" content="@bellezainandout">

    <link href="/assets/style/main.css" rel="stylesheet"/>

    <script src="/public.bundle.js"></script>

    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
</body>
</html>
